*{
    margin: 0 auto;
}

body{
    background-color: rgb(43, 73, 63);
    text-align: center;
    color: white;
}

#dojo{
    display: flex;
    margin-top: 50px;
}

#dojoform{
    margin-left: 50px;
}

#alldojos{
    border: 2px solid black;
    width: 300px;
}

ul{
    list-style-type: none;
}

#frame{
    display: flex;
}

#ninjafill{
    flex-direction: column;
}

#ninform{
    display: flex;
}
.box{
    display: inline-block;
    margin-bottom: 20px;
}